# Ignore everything...
*
# ... except preferences
/.gitignore
!/User/Preferences.sublime-settings
!/User/Package Control.sublime-settings
!/A File Icon.zip

# ...even if they are in subdirectories
!*/