# Ignore everything...
*
# ... except preferences
/.gitignore
!/User/Preferences.sublime-settings
!/User/Package Control.sublime-settings
!/A File Icon.zip
!/User/Default (Windows).sublime-keymap
# ...even if they are in subdirectories
!*/